[Unit]
Description=Calculator REST API  
After=network.target  

[Service]
Restart=on-failure  
ExecStart=/usr/bin/java -jar /mnt/c/Emirin\ Yazılım\ Şeysileri/OpenSourceSoftwareDevelopment/CalculatorRestApi/calculator/Calculator-0.0.1-SNAPSHOT.jar  
User=emiryilmaz4144
Environment=SPRING_APPLICATION_JSON='{"spring.application.name":"Calculator","server.port":3434}'  
StandardOutput=journal  
StandardError=journal  

[Install]
WantedBy=multi-user.target
